body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
nav {
    margin: 20px 0;
}
nav a {
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}
section {
    padding: 20px;
    margin: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
img{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
    max-width: 235px;
    transition: transform 0.3s ease;
}
img:hover{
transform: scale(1.05);
}
.quadrado {
    text-align: center;
    align-items: center;
    max-width: 600px;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 30%;
    margin-top: 7.5%;
    text-align: left;
}



h2 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select,
textarea {
    
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #414345;
}
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #000000;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
